@font-face {
  font-family: 'Helvetica';
  src: url('../../public/assets/fonts/helvetica.ttf');
  font-weight: 400;
}

.footer {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),
    url('../../public/assets/footer/footer_bg.png'),
    lightgray 0px -292.703px / 100% 205.473% no-repeat;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
}
